.banner{
	width: 100%;
	height: 600px;
	overflow: hidden;
	position: relative;
}
.banner-main{
	width: 100%;
	height: 100%;
	position: relative;
}
.banner-main>li{
	width: 100%;
	height: 100%;
	position: absolute;
	left:0;
	top: 0;
}
.banner-main>li:first-child{
	z-index: 2;
}
.banner-main li img{
	width: 100%;
	height: 100%;
}
.btns{
	width: 159px;
	height: 21px;
	position: absolute;
	bottom: 60px;
	left: 0;
	right: 0;
	margin: auto;
	display: flex;
	justify-content: space-between;
	z-index: 3;
}
.btns li{
	width: 22px;
	height: 22px;
	border-radius: 50%;
	border: 2px solid #fff;
	box-sizing: border-box;
}
.heng{
	width: 1200px;
	height: 20px;
	margin: 0 auto;
	margin-top: 17px;
	text-align: center;
	font-size: 14px;
}
.main{
	width: 1000px;
	height: 560px;
	margin: 0 auto;
	margin-top: 20px;
	position: relative;
}
.content{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.content li{
	width: 23.5%;
	height: 50%;
	position: relative;
}
.cid{
	display: block;
	width:100%;
	height:100%;
	border:none;
	position: absolute;
	top:0;
	left:0;
	opacity: 0;
}
.content li>a{
	display: block;
	width: 100%;
	height: 100%;
}
.imgbox{
	width: 100%;
	height: 190px;
}
.imgbox img{
	width: 100%;
	height: 100%;
}
.content li a form>h2{
	margin-top: 20px;
	margin-left: 5px;
	color: #004181;
	font-weight: normal;
	font-family: "微软雅黑";
}
.content li a form>h6{
	color: #000;
	margin-top: 5px;
	margin-left: 5px;
	font-weight: normal;
	font-family: "微软雅黑";
}
.hiddens1{
	width: 100%;
	height: 0;
	background: rgba(0,0,0,0.0);
	position: absolute;
	top: 0;
	left: 0;
	transition: all 0.8s;
}
.hiddens1>h2{
	color: rgba(255,255,255,0.0);
	font-weight: normal;
	margin-top:240px;
	transition: all 0.8s;
	text-align: center;
}
.content li:hover .hiddens1{
	background: rgba(0,0,0,0.6);
	height: 190px;
}
.content li:hover .hiddens1>h2{
	color: rgba(255,255,255,0.6);
	margin-top:0px;
}
.heng1{
	width: 100%;
	height: 200px;
	margin-top: 30px;
	background: #303030;
}
.heng1-main{
	width: 1000px;
	height: 100%;
	margin: 0 auto;
}
.heng-head{
	font-size: 28px;
	color: #fff;
	padding-top: 65px;
	float: left;
}
.heng-eng{
	font-size: 18px;
	color: #689BC8;
	padding-top: 10px;
	float: left;
}
.nengli{
	color: #fff;
	font-size: 70px;
	line-height: 200px;
	float: right;
}
.jiagou{
	width: 1000px;
	height: 1000px;
	margin: 0 auto;
	overflow: hidden;
}
.jiagou h1{
	color: #424242;
	font-weight: normal;
	text-align: center;
	line-height: 40px;
	margin-top: 30px;
	margin-bottom: 10px;
}
.jiagou-main{
	width: 100%;
	height: 880px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.jiagou-main li{
	width: 40%;
	height: 50%;
}
.blackt{
	width: 100%;
	height: 55px;
	background: #424242;
	border-radius: 5px;
	color: #fff;
	font-family: "微软雅黑";
	text-align: center;
	line-height: 55px;
	font-size: 25px;
}
.heading{
	width: 100%;
	height: 100px;
	color: #424242;
	font-family: "微软雅黑";
	text-align: center;
	line-height: 100px;
	font-size: 20px;
}
.neirong{
	width: 100%;
	height: 220px;
	border: 1px dashed #424242;
	box-sizing: border-box;
	border-radius: 10px;
}
.jiagou-main li h4{
	margin-top: 10px;
	color: #424242;
	font-weight: normal;
	line-height: 40px;
	text-align: center;
}
.env{
	width: 1000px;
	height: 600px;
	margin: 0 auto;
	margin-top: 50px;
}
.e1{
	width: 44%;
	height: 100%;
	float: left;
	background: url(../../img/e1.jpg)no-repeat center/cover;
}
.es{
	width: 55%;
	height: 100%;
	float: right;
	display: flex;
	align-content: space-between;
	flex-wrap: wrap;
}
.e2{
	width: 100%;
	height: 49%;
	background: url(../../img/e2.jpg)no-repeat center/cover;
}
.e3{
	width: 100%;
	height: 49%;
	background: url(../../img/e3.jpg)no-repeat center/cover;
}
.e1:hover{
	opacity: 0.8;
	transition: all 0.6s;
}
.e2:hover{
	opacity: 0.8;
	transition: all 0.6s;
}
.e3:hover{
	opacity: 0.8;
	transition: all 0.6s;
}

